/*.form {*/
/*    background-image: url(../img/background.jpg);*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

.text{
    color: #02f8f8;
}

.textField {
    border-color: #02f8f8 !important;
}

.create {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #02f8f8;
}
.create label {
    text-align: left;
    display: block;
}
.create h2 {
    font-size: 20px;
    color: #02f8f8;
    margin-bottom: 30px;
}
.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #cb0bec;
    color: #02f8f8;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}

/*.create .ui.attached.tabular.menu{*/
/*    background: #cb0bec;*/
/*    color: #02f8f8;*/
/*}*/
