.text{
    color: #02f8f8;
}

.textField {
    border-color: #02f8f8 !important;
}

.create {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #02f8f8;
}
.create label {
    text-align: left;
    display: block;
}
.create h2 {
    font-size: 20px;
    color: #02f8f8;
    margin-bottom: 30px;
}
.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #cb0bec;
    color: #02f8f8;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}

.create .ui.bottom.attached.segment.active.tab{
    background: #cb0bec;
    color: #02f8f8;
    border: #02f8f8;
}

.create ::selection{
    background-color: #cb0bec;
}

.create .ui.button, .ui.action.input>.button, .ui.action.input>.buttons {
    background: purple;
    color: #02f8f8;
}

.create a, label{
    color: #02f8f8 !important;
}

.create .ui.tabular.menu .active.item {
    background-color: rgb(203, 11, 236);
}

.create .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    background-color: purple;
    color: white;
}

.create .ui.table thead th {
    background-color: purple;
    color: #02f8f8;
}

.create  .ui.table {
    background-color: #cb0bec;
    color: #02f8f8;
}
